.main-chat
  .main-header
    .main-header__box
      .main-header__box__group-name
        = @group.name
      .main-header__box__chat-menber
        Member :
        .main-header__box__chat-menber__name
          - @group.users.each do |user|
            =  user.name
    .main-header__box__edit
      = link_to edit_group_path(@group.id) ,class:"edit-btn" do
        Edit

  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "submit-btn"

